name: Lint GitHub Actions workflows
on:
  pull_request:
    paths:
      - ".github/**"
  merge_group:
  push:
    paths:
      - ".github/**"

permissions: {}

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
        with:
          persist-credentials: false
      - uses: reviewdog/action-actionlint@83e4ed25b168066ad8f62f5afbb29ebd8641d982 # v1.61
        with:
          fail_level: "any"
