name: Lint GitHub Actions workflows
on:
  pull_request:
    paths:
      - ".github/**"
  merge_group:
  push:
    paths:
      - ".github/**"

permissions: {}

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          persist-credentials: false
      - uses: reviewdog/action-actionlint@f00ad0691526c10be4021a91b2510f0a769b14d0 # v1.61
        with:
          fail_level: "any"
