name: Run prover guest code checks

on: pull_request

permissions: {}

jobs:
  eval_perf:
    permissions:
      # Needed to install the toolchain.
      contents: write
      # Needed to post the performance report comments.
      pull-requests: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
        with:
          persist-credentials: false

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@a02741459ec5e501b9843ed30b535ca0a0376ae4 # nightly
        with:
          toolchain: nightly-2024-07-27

      - name: Cleanup space
        uses: ./.github/actions/cleanup # zizmor: ignore[unpinned-uses]
      - name: Install toolchains
        uses: ./.github/actions/toolchains # zizmor: ignore[unpinned-uses]

      - name: Use Cargo cache
        uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # v2
        with:
          cache-on-failure: true

      # Installs mold (modern ld), a drop-in replacement for lld.
      # Under the hood, the following action symlinks mold binary onto lld,
      # so everything is linked faster (hopefully).
      - name: Install mold linker
        uses: rui314/setup-mold@e16410e7f8d9e167b74ad5697a9089a35126eb50 # v1

      - name: Run performance evaluation
        run: |
          ZKVM_MOCK=1 cargo run --release -- \
          --post-to-gh \
          --github-token "${{ secrets.GITHUB_TOKEN }}" \
          --pr-number "${{ github.event.pull_request.number }}" \
          --commit-hash "${{ github.sha }}" \
          --programs fibonacci,sha2-chain,schnorr-sig-verify,groth16-verify-sp1,groth16-verify-risc0
        env:
          RUSTFLAGS: "-C target-cpu=native -C link-arg=-fuse-ld=lld"
